name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

permissions: {}

jobs:
  checks:
    name: Check on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          allow-prereleases: true
          python-version: |
            3.8
            3.9
            3.10
            3.11
            3.12
            3.13
            3.14

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Test package
        run: uvx hatch test -ca

  pass:
    if: always()
    needs: [checks]
    runs-on: ubuntu-slim
    timeout-minutes: 2
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
